
table,th,td {border : solid 1px green; border-collapse: collapse;}
td,th{padding: 3px 7px 2px 7px;}
th{background-color: green; color:white; cursor: pointer; }
nav {
    margin: 0;
    padding: 10px 16px;
    overflow: hidden;
    border: 1px solid #FFFFFF;
    background-color: transparent;
}

body {
    background-image: url("http://static.tumblr.com/ge74hdk/G3flw5yrs/wood_pattern.png")
}

h1 {color:;}

/* Change the link color to #111 (black) on hover */
a:link, a:visited {
    background-color: #989898;
    color: black;
    padding: 7px 20px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
}

a:hover, a:active {
    font-weight: bold;
    background-color: green;
}

.zn { margin-left: 8em; margin-right: 8em }

tr:nth-child(even) {background-color: #f2f2f2}

<script src="jquery-1.11.2.min.js"></script>
<script src="stupidtable.min.js"></script>
<script>
$(document).ready(function(){
$("#movieTable").stupidtable();
});
</script>
