<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/customer">Customer</a></li>
</ul>
<form action="/investment/create" method="POST" >
  <h2>Create a new Investment for <%= customer.name %></h2>

  <input type="hidden" name="investor" value="<%= customer.id %>" />

  <input type="text" placeholder="Symbol" name="category" ><br />
  <input type="text" placeholder="Number of Shares" name="acquired_value"><br />
  <input type="text" placeholder="Acquired date" name="acquired_date"><br />
  <input type="submit" value="Add Investment" />
</form>