<div>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <ul class=" nav navbar-nav">
      <li class="active"><a href="/">Node Financial</a></li>
    </ul>
  </div>
</nav>
</div>
<br/>
<br/>
<br/>
<div>
	<h1 align="center">Welcome to Node Financial</h1><br/>
	<br/>
	<p align="center">
		<a class="btn btn-info btn-lg" href="/customer">Show Customers</a>
		<a class="btn btn-primary btn-lg" href="/customer/new">New Customer</a>
	</p>
</div>